#**Task 01: Vehicle Rental System**

In [15]:
class Vehicle:
  def __init__(self,vehicle_id, brand, rent_per_day):
    self.vehicle_id = vehicle_id
    self.brand = brand
    self.rent_per_day = rent_per_day
  def display_info(self):
    print(f"Vehicle ID: {self.vehicle_id}")
    print(f"Brand: {self.brand}")
    print(f"Rent per day: {self.rent_per_day}")
  def Calculate_rent(self,days):
    return self.rent_per_day * days

v1=Vehicle("V001","Toyota",50)
v1.display_info()
days=3
total_rent=v1.Calculate_rent(days)
print(f"Total rent for {days} days: {total_rent}")
print("======================================")
v2=Vehicle("V002","Honda",60)
v2.display_info()
days=2
total_rent= v2.Calculate_rent(days)
print(f"Total rent for {days} days: {total_rent}")

Vehicle ID: V001
Brand: Toyota
Rent per day: 50
Total rent for 3 days: 150
======================================
Vehicle ID: V002
Brand: Honda
Rent per day: 60
Total rent for 2 days: 120

#**Task 2: Employee Payroll System**

In [14]:
class Employee:
  def __init__(self,employee_id,name):
    self.employee_id=employee_id
    self.name=name
  def Calculate_salary(self):
    pass
  def display_info(self):
    print(f"Employee ID: {self.employee_id}")
    print(f"Name: {self.name}")
class FullTimeEmployee(Employee):
  def __init__(self,monthly_salary,employee_id,name):
    super().__init__(employee_id,name)
    self.monthly_salary=monthly_salary
  def Calculate_salary(self):
    return self.monthly_salary
class PartTimeEmployee(Employee):
  def __init__(self,hourly_rate,hours_worked,employee_id,name):
    super().__init__(employee_id,name)
    self.hourly_rate=hourly_rate
    self.hours_worked=hours_worked
  def Calculate_salary(self):
    return self.hourly_rate*self.hours_worked
fte=FullTimeEmployee(500000,"H001","Hasnain")
fte.display_info()
salary=fte.Calculate_salary()
print(f"Salary: {salary}")
print("======================================")
pte=PartTimeEmployee(1000,360,"J002","Jawad")
pte.display_info()
salary=pte.Calculate_salary()
print(f"Salary: {salary}")

Employee ID: H001
Name: Hasnain
Salary: 500000
======================================
Employee ID: J002
Name: Jawad
Salary: 360000

#**Task 3: Student Result System**

In [13]:
from re import S
class Student_Result:
  def __init__(self,student_id,name,marks):
    self.student_id=student_id
    self.name=name
    self.__marks=marks
  def display_info(self):
    print(f"Student ID: {self.student_id}")
    print(f"Name: {self.name}")
    print(f"Marks: {self.__marks}")
  def get_marks(self):
    return self.__marks
  def set_marks(self,marks):
    self.__marks=marks
  def Calculate_grade(self):
    marks=self.get_marks()
    if marks>=90:
      return 'A'
    elif marks>=80:
      return 'B'
    elif marks>=70:
      return 'C'
    elif marks>=60:
      return 'D'
    else:
      return 'F'

s1=Student_Result("S001","Hasnain",85)
s1.display_info()
grade=s1.Calculate_grade()
print(f"Grade: {grade}")
print("======================================")
s2=Student_Result("S002","Jawad",75)
s2.display_info()
grade=s2.Calculate_grade()
print(f"Grade: {grade}")

Student ID: S001
Name: Hasnain
Marks: 85
Grade: B
======================================
Student ID: S002
Name: Jawad
Marks: 75
Grade: C